/*==================================================
** facility-greeting
==================================================*/
.facility-greeting {
  @include break-pc-tab {
    &__deco01 {
      background-image: none;
    }

  }
}

/*==================================================
** facility-attr
==================================================*/
.facility-attr {
  &__inner {
    padding-top: 50px;
    width: 100% !important;
  }

  @include break-pc-tab {
    &__inner {
      padding-top: 150px;
      max-width: 1700px !important;
      width: 88% !important;
    }

    &__item {
      &:before {
        content: url(../images/facility/bg_attr01.png);
      }
    }

    &__head {
      font-size: clamp(1.8rem, 2.5vw, 3.5rem);
    }
  }
}

/*==================================================
** facility-attention
==================================================*/
.facility-attention {
  &__inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &-top {
    padding: 1em;
  }

  &-bottom {
    margin-top: 40px;

    &__item {
      padding: 1em;

      &+& {
        margin-top: 40px;
      }
    }
  }

  @include break-pc-tab {
    &__inner {
      padding-top: 300px;
      max-width: 1000px !important;
      padding-bottom: 0;
    }

    &-top {
      padding: 1.5em;
    }

    &-bottom {
      margin-top: 100px;
      display: flex;
      justify-content: space-between;

      &__item {
        width: 48%;
        padding: 1.5em;

        &+& {
          margin-top: 0px;
        }
      }
    }
  }
}

/*==================================================
** facility-bath
==================================================*/
.facility-bath {
  &__inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__content {
    background-color: #fff;
    border: 1px solid $color-sub;
    border-radius: 10px;
    overflow: 1em;
    padding: 1em;
  }

  &__areaimg {
    margin-top: 1em;
    display: flex;
    gap: 0.5em;
  }

  &__img {
    &+& {
      // margin-top: 1em;
    }
  }

  &__txt {
    margin-top: 1em;
  }

  @include break-pc-tab {
    &__inner {
      max-width: 1300px !important;
      padding-top: 0;
      padding-bottom: 0;
    }

    &__content {
      border-width: 3px;
      display: flex;
      border-radius: 20px;
      padding: 2.5em 3em;
      justify-content: space-between;
      // max-width: 1180px;
      margin: 0 auto;
    }

    &__areatxt {
      width: 35%;
    }

    &__areaimg {
      display: flex;
      gap: 10px;
      width: 50%;
    }

    &__txt {
      margin-top: 1.5em;
      font-size: 1.8rem;
    }
  }
}

/*==================================================
** facility-other
==================================================*/
.facility-other {
  &__inner {
    padding-bottom: 40px;
  }

  @include break-pc-tab {
    &__inner {
      padding-top: 125px;
      max-width: 1300px !important;
    }

  }
}

/*==================================================
** facility-dray
==================================================*/
.facility-dray {
  &__inner {
    padding-top: 60px;
  }

  &__lead {
    color: $color-accent01;
    text-align: center;
    margin-top: 1em;
  }

  &__img {
    text-align: center;
    margin-top: 1em;
  }

  @include break-pc-tab {
    &__inner {
      padding-top: 80px;
    }

    &__main {
      font-size: 4rem;
    }

    &__lead {
      margin-top: 1.7em;
      font-size: 1.8rem;
    }

    &__img {
      margin-top: 3em;
    }
  }
}

/*==================================================
** bg
==================================================*/
.bg {
  background-color: $color-sub;

  @include break-pc-tab {
    margin-top: 150px;
    padding: 160px 0;
  }
}
