.c-btn01 {
  // width: 225px;
  padding: 1px 35px 1px 20px;
  letter-spacing: 0.1em;
  text-align: center;
  position: relative;
  display: inline-block;
  border-radius: 10px;
  background-color: $color-main;
  color: #fff;

  &__wrap {
    text-align: center;
    margin-top: 1em;
  }

  &:before {
    content: "";
    display: inline-block;
    // vertical-align: middle;
    // color: #333;
    background-color: transparent;
    line-height: 1;
    position: absolute;
    width: 10px;
    height: 10px;
    border: 0.1em solid #fff;
    // background: currentColor;
    border-radius: 50%;
    box-sizing: content-box;
    vertical-align: sub;
    margin-right: 0.5em;
    top: 51%;
    right: 8px;
    transform: translateY(-50%);
  }

  &:after {
    content: '>';
    font-size: 10px;
    position: absolute;
    top: 47%;
    right: 18px;
    transform: translateY(-50%);
  }

  @include break-pc-tab {
    width: 200px;
    font-size: 1.8rem;
    padding: 0.3em 45px 0.3em 10px;

    &:before {
      width: 20px;
      height: 20px;
      border: 0.1em solid #fff;
    }

    &:after {
      top: 50%;
      right: 21px;
      font-size: 1.6rem;
    }

    &__wrap {
      margin-top: 1em;
    }
  }
}
