.c-head02 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
  margin-bottom: 0.5em;
  &:after {
    content: attr(data-ttl);
    font-size: 1.4rem;
    display: block;
    font-family: $font-mei;
    font-weight: 400;
    text-align: center;
    color: $color-accent01;
    text-transform: capitalize;
    letter-spacing: 0.05em;
  }
  &__in {
    font-size: 1rem;
    display: block;
  }
  @include break-pc-tab {
    font-size: 3.2rem;
    &:after {
      font-size: 2rem;
      margin-top: 0.5em;
    }
    &__in {
      font-size: 2.4rem;
    }
  }
}
